@using BlazorApp.Models

@if (@ContactInfo != null)
{
    <div class="sectionheader">Contact</div>

    <div class="sectionbody">
        <ul class="contactList">
            @foreach (var contact in ContactInfo)
            {
                @if (@contact.Type != null)
                {
                    switch (@contact.Type)
                    {
                        case ContactTypeEnum.Phone:
                            <li>
                                <i class="fa-solid fa-phone"></i>
                                <a href="tel:@contact.DisplayValue">@contact.DisplayValue</a>
                            </li>
                            break;
                        case ContactTypeEnum.Website:
                            <li>
                                <i class="fa-solid fa-globe"></i>
                                <a href="@contact.Url" target="_new">@contact.DisplayValue</a>
                            </li>
                            break;
                        case ContactTypeEnum.Email:
                            <li>
                                <i class="fa-solid fa-envelope"></i>
                                <a href="mailto:@contact.MailTo">@contact.DisplayValue</a>
                            </li>
                            break;
                        default:
                            <li>@contact.DisplayValue</li>
                            break;
                    }
                }
                else
                {
                    <li>@contact.DisplayValue</li>
                }
            }
        </ul>
    </div>
}

@code {
    [Parameter]
    public IEnumerable<ContactItem>? ContactInfo { get; set; }
}
